@media (max-width: 1300px) {
    header .img-logo img {
        margin-top: -100px;
    }
    nav img {
        max-width: 150%;
    }
    header h1 {
        font-size: 80px;
    }
    .Production .boxing p{
    width: 100%;
    }
    
}

@media (min-width: 371px) and (max-width: 1300px) {
    .navbar-brand{
        width: 50% !important;
      }
    header .img-logo img {
        margin-top: -100px;
    }
    nav img {
        max-width: 150%;
    }
    header h1 {
        font-size: 35px;
    }
    .Production .boxing p{
        width: 100%;
    }
    
}

@media (min-width: 577px) and (max-width: 1300px) {
    .navbar-brand{
        width: 50% !important;
      }
    header .img-logo img {
        margin-top: -100px;
    }
    nav img {
        max-width: 150%;
    }
    header h1 {
        font-size: 40px;
    }
    .parg-about{
        height: 500px !important;
    }
}

@media (min-width: 993px) and (max-width: 1300px) {
    .navbar-brand{
        width: 20% !important;
      }
    header .img-logo img {
        margin-top: 0px;
    }
    nav img {
        max-width: 85%;
    }
    
}

@media (min-width: 1181px) and (max-width: 1300px) {
    header .img-logo img {
        margin-top: 0px;
    }
    
}
